.title-commerce{
    text-align: center;
    font-size: 40px;
}

.display-vente {
 display: flex;
 justify-content: space-evenly;
 height: 550px;
 align-items: center;
}

.background-image {
   height: 300px;
   display: flex;
}

.Nike {
    width: 250px;
    height: 250px;
    align-self: center;
}
.Vip {
    width: 250px;
    height: 250px;
    align-self: center;
}
.Adidas {
    width: 250px;
    height: 250px;
    align-self: center;
}

.legende {
    display: flex;
    justify-content: space-around;
}

